BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "P3";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# P4 header on the i5 extension board
LOCATE COMP "led[7]" SITE "E1";
LOCATE COMP "led[6]" SITE "E4";
LOCATE COMP "led[5]" SITE "F3";
LOCATE COMP "led[4]" SITE "H3";
LOCATE COMP "led[3]" SITE "F2";
LOCATE COMP "led[2]" SITE "F1";
LOCATE COMP "led[1]" SITE "G3";
LOCATE COMP "led[0]" SITE "H4";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# User led on module
LOCATE COMP "user_led" SITE "L2";
IOBUF  PORT "user_led" IO_TYPE=LVCMOS33;

LOCATE  COMP "UART_TX"  SITE "J17";
LOCATE  COMP "UART_RX"  SITE "H18";

IOBUF   PORT "UART_TX"  IO_TYPE=LVCMOS33;
IOBUF   PORT "UART_RX"  IO_TYPE=LVCMOS33;
 
